.banner#home
    .parts
        p= '<code/>'
        p= '<css/>'
        p= '<js/>'
        p= '<scss/>'
        p= '<vue>'
        p= '<node-js/>'
        p= '<h5/>'
        p= '<pug-js>'
        p= '<gulp-js>'
        p= '<github>'
        p= '</div>'
        p= '</html5>'

    h1 Hey  Iam &nbsp;&nbsp;
        span Eid 
    h2 Front-End Web Developer
    ul 
        li
            a(href="https://github.com/eidsid", traget="_blank")
                i.fab.fa-github
        li
            a(href="https://www.linkedin.com/in/eid-sayed-30b96b201/", traget="_blank")
            
                i.fab.fa-linkedin
                