section#home.banner
    .parts
        p(class="i1")= '<code/>'
        p(class="i2")= '<css/>'
        p(class="i3")= '<js/>'
        p(class="i4")= '<ts/>'
        p(class="i5")= '<scss/>'
        p(class="i6")= '<tailwindcss/>'
        p(class="i7")= '<node-js/>'
        p(class="i8")= '<Express/>'
        p(class="i9")= '<MongoDB/>'
        p(class="i10")= '<React.js/>'
        p(class="i11")= '<next.js/>'
        p(class="i12")= '<redux/>'
        p(class="i13")= '<pug-js>'
        p(class="i14")= '<gulp-js>'
        p(class="i15")= '<github>'
        p(class="i16")= '</html5>'

    h1 Hey  Iam &nbsp;&nbsp;
        span Eid 
    h2 Front-End Web Developer
    ul 
        li
            a(href="https://github.com/eidsid" alt="github" target="_blank")
                i.fab.fa-github
        li
        
            a(href="www.linkedin.com/in/eidsayed" alt ="linkedin" target="_blank")
            
                i.fab.fa-linkedin
        li
            a(href="mailto: eidsayed2022web@gmail.com" alt="mail" target="_blank")
            
                i.fa.fa-envelope-square
    .scrollDown
                span Scroll Down 
                span.shap 
    .top
        a(href="#") 🠕