section#home.banner
    .parts
        p= '<code/>'
        p= '<css/>'
        p= '<js/>'
        p= '<scss/>'
        p= '<vue>'
        p= '<node-js/>'
        p= '<Express/>'
        p= '<MongoDB/>'
        p= '<React.js/>'
        p= '<redux/>'
        p= '<pug-js>'
        p= '<gulp-js>'
        p= '<github>'
        p= '</html5>'

    h1 Hey  Iam &nbsp;&nbsp;
        span Eid 
    h2 Front-End Web Developer
    ul 
        li
            a(href="https://github.com/eidsid" alt="github" target="_blank")
                i.fab.fa-github
        li
        
            a(href="https://www.linkedin.com/in/eid-sayed-30b96b201/" alt ="linkedin" target="_blank")
            
                i.fab.fa-linkedin
        li
            a(href="mailto: eidsayed2022web@gmail.com" alt="mail" target="_blank")
            
                i.fa.fa-envelope-square
    .scrollDown
                span Scroll Down 
                span.shap 
    .top
        a(href="#") 🠕